* {
    margin: 0;
}
html, body {
    height: 100%;
    background-color:#E5E5E5;
}
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -30px;
    margin-left:auto;
    margin-right:auto;
    font-size:15px;
    font-family:helvetica;
    text-align:left;
    color:#000;
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    height: 30px;
}
.site-footer {
    background: #545454;
    color: #669900;
    font-family:helvetica;
    font-size:small;
    text-align:center;
    padding-top:10px;
    margin-top:10px;
}
a:link {
    color: #669900;
    text-decoration:none;
}
a:visited {
    color: #669900;
    text-decoration:none;
}
a:hover {
    color: #669900;
    text-decoration:none;
}
a:active {
    color: #7FC123;
    text-decoration:none;
}
#headermain{
    background-color: #669900;;
    width:100%;
    height:auto;
    color:white;
    font-family:helvetica;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
}
section{
    color:#000;
    border:1px solid #A9A9A9;
    width:600px;
    height:auto;
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    background-color:#fff;
}
#log{
    color:#000;
    border:1px solid #A9A9A9;
    width:400px;
    height:auto;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    background-color:#fff;
}
#navigation {
    width: 100%;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    border-bottom: 1px solid #A9A9A9;
    height:auto;}
#navigation li {
    float: left; }
#navigation li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: green;
    border-right: 1px solid #A9A9A9; }
#navigation li a:hover {
    color: #7FC123;
    background-color: #fff;
}

#tableproto{
    margin-left:auto;
    margin-right:auto;
}
.tg  {
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
}
.tg td{
    font-family:Arial, sans-serif;
    font-size:14px;padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}
.tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}
.tg .tg-8xqh{
    font-weight:bold;
    background-color:#c0c0c0
}